
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #F0EFEA ;
    font-family: "Gotham Pro";
    
  }
  
  /* Navbar */
  
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body{
    background-color: #F0EFEA;
  }
  
  .navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1.2rem 7%;
    position: fixed;
  
    background-color: rgba(202, 191, 179, 0.7);
    border-bottom: 1px solid #D5C0A8;
    top:0;
    left:0;
    right:0;
    z-index:9999;
  
  }
  
  .navbar .headline{
    color:black;
    font-family: NewYork;
    font-size: 30px;
  
  }
  
  .navbar .Menu a{
    display: inline-block;
    margin: 0 1rem;
    color:black;
    font-family: 'Gotham Pro';
    font-size: 15px;
    text-decoration: none;
  }
  
  .Menu a:hover{
    cursor: pointer;
    color: #9A6740;
  
  
  }
  
  .Menu a::after{
    content: '';
    display: block;
    border-bottom-style: solid;
    border-bottom-color:#9A6740;
    border-bottom-width: 0.1rem;
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .Menu a:hover::after{
    transform: scaleX(0.5);
  }
  
  .navbar-extra a{
    color:black;
    margin:0 0.5rem;
  }
  
  .navbar-extra a:hover{
    color:#9A6740;
  
  }
  
  
  .active1{
  
    font-family: "Gotham Pro";
    font-size:15px;
    text-decoration: none;
    color: #9A6740;
    border-bottom-style: solid;
    border-bottom-color:#9A6740;
    border-bottom-width: 0.1rem;
  
  }
  
  
  /* Media Queries untuk navbar */
  #hamburger{
    display:none;
  }
  
  @media (max-width:1366px){
    html{
        /* .navbar{ */
            font-size:70%;
        /* } */
        
    }
  }
  
  @media (max-width:758px){
   
    html{
        font-size: 62.5%;
    }
    #hamburger{
        display:inline-block;
    }
  
    .Menu{
        position:absolute;
        top:100%;
        right:-100%;
        width:30rem;
        height:100vh;
        background-color: rgb(0, 0, 0,0.7) ;
        transition: 0.3s;
    }
  
    .Menu.active{
        right:0;
    }
  
    .navbar .Menu a{
        color:white;
        display:block;
        margin:1.5rem;
        padding:0.5rem;
        font-size: 2rem;
    }
  
    
    .Menu a::after{
        border-bottom-style: solid;
        border-bottom-color:white;
        border-bottom-width: 0.1rem;
        transform-origin: 0 0;
    }
  
    .Menu a:hover::after{
        transform: scaleX(0.2);
        transform-origin: 0 0;
    }
  }
  
  @media (max-width:450px){
    html{
      
            font-size:55%;
       
       
    }
  }

.hero{
 
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    content:'';
    display:block;
    position:absolute;
    width:100%;
    height:100%;


    
}

.hero .content{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:1.4rem 7%;
    max-width: 60rem;

}

.hero .content h6{
    font-size: 500%;
    font-weight: 400;
    font-family: NewYork;
    color:black;
    padding-bottom: 2%;
}

.headline2{

    padding-top:5%;
   
}

.line{
    align-items: center;
    justify-content: center;
    text-align: center;
    display:flex;
    position: relative;
    border-top: 1px solid #806554;
    /* box-sizing: border-box; */
    width: 80%;
    height: 1px;
    margin-left:10%;
    
}



.headline-txt{
  font-size: 300%;
  font-family: NewYork;
  align-items: center;
  text-align: center;

}

.desc{
    text-align: center;
    justify-content: center;
    padding:2%;
    padding-right:10%;
    padding-left:10%;


}
.desc p{
  
    text-align: center;
    justify-content: center;
    font-family: "Gotham Pro";
    font-size: 35px;
}


.watch1{
  margin-top: 2%;
  display:flex;
  position:relative;
 
  text-align: center;
  width:100%;
  height: 50vh;
  background-color: #26261F;
}

.watch2{

  display:flex;
  position:relative;
  border: 2px solid #806554;
  text-align: center;
  width:100%;
  height: 50vh;
  background-color: #D5C0A8
}

.vision{
  justify-content: center;
  text-align: left;
  align-items: center;
  margin-top: 5%;
  margin-left:5%;
  margin-right:10%;
}


.watch1 h6{
  padding-bottom: 2%;
  font-family: NewYork;
  font-size: 300%;
  color:#F0EFEA;

}

.watch2 h6{
  padding-bottom: 2%;
  font-family: NewYork;
  font-size: 300%;

}

.watch1 p{
  font-family: "Gotham Pro";
  font-size: 160%;
  color:#F0EFEA;
}

.watch2 p{
  font-family: "Gotham Pro";
  font-size: 160%;
}

.mission{
  justify-content: center;
  text-align: right;
  margin-right: 5%;
  margin-left: 10%;
  margin-top: 4%;
}


/* Why WatcHGoods */
.why{

    display:block;
    position:relative;
  
}

.why-text{
   
    font-size: 300%;
    font-family: NewYork;
    align-items: center;
    text-align: center;
   padding-bottom: 2%;
   padding-top: 2%;
    background-color: #F0EFEA;
    

}

.reasons{
 
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    background-color: #26261F;

   padding-top: 4%;
   padding-bottom: 4%;
}

.reasons-card{

    padding-top: 5%;
    padding-left: 1.5%;
    padding-right:1.5%;
    display:block;
    position:relative;
    background-color: black;
    justify-content: center;
   height:50vh;
   width:40vh;
   background-color: #26261F;
    border:2px solid#F0EFEA;
 

}

.reason{
    padding-bottom: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: NewYork;
    color:white;
}

.reason1{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-family: "Gotham Pro";
    color:#F0EFEA;
   

}

.meet{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.our{
    text-align: center;
    font-size: 300%;
    margin-bottom: 2%;
    font-family: NewYork;
    color:black;
    
}

.team{
  
    font-size: 150%;
    font-family: "Gotham Pro";
    color:black;
   
    
}

.team1{
    padding-top: 2%;
    font-size: 150%;
    font-family: "Gotham Pro";
    color:black;
    padding-bottom: 2%;
}

.contact{
  
    padding-left: 46%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Gotham Pro";
    font-size: 100%;
    color:black;
    text-decoration: underline;
  
}


.contact:hover{
  color:#9A6740;
}


