
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #F0EFEA ;
  font-family: "Gotham Pro";
  
}

/* Navbar */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background-color: #F0EFEA;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:1.2rem 7%;
  position: fixed;

  background-color: rgba(202, 191, 179, 0.7);
  border-bottom: 1px solid #D5C0A8;
  top:0;
  left:0;
  right:0;
  z-index:9999;

}

.navbar .headline{
  color:black;
  font-family: NewYork;
  font-size: 30px;

}

.navbar .Menu a{
  display: inline-block;
  margin: 0 1rem;
  color:black;
  font-family: 'Gotham Pro';
  font-size: 15px;
  text-decoration: none;
}

.Menu a:hover{
  cursor: pointer;
  color: #9A6740;


}

.Menu a::after{
  content: '';
  display: block;
  border-bottom-style: solid;
  border-bottom-color:#9A6740;
  border-bottom-width: 0.1rem;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.Menu a:hover::after{
  transform: scaleX(0.5);
}

.navbar-extra a{
  color:black;
  margin:0 0.5rem;
}

.navbar-extra a:hover{
  color:#9A6740;

}


.active1{

  font-family: "Gotham Pro";
  font-size:15px;
  text-decoration: none;
  color: #9A6740;
  border-bottom-style: solid;
  border-bottom-color:#9A6740;
  border-bottom-width: 0.1rem;

}


/* Media Queries untuk navbar */
#hamburger{
  display:none;
}

@media (max-width:1366px){
  html{
      /* .navbar{ */
          font-size:70%;
      /* } */
      
  }
}

@media (max-width:758px){
 
  html{
      font-size: 62.5%;
  }
  #hamburger{
      display:inline-block;
  }

  .Menu{
      position:absolute;
      top:100%;
      right:-100%;
      width:30rem;
      height:100vh;
      background-color: rgb(0, 0, 0,0.7) ;
      transition: 0.3s;
  }

  .Menu.active{
      right:0;
  }

  .navbar .Menu a{
      color:white;
      display:block;
      margin:1.5rem;
      padding:0.5rem;
      font-size: 2rem;
  }

  
  .Menu a::after{
      border-bottom-style: solid;
      border-bottom-color:white;
      border-bottom-width: 0.1rem;
      transform-origin: 0 0;
  }

  .Menu a:hover::after{
      transform: scaleX(0.2);
      transform-origin: 0 0;
  }
}

@media (max-width:450px){
  html{
    
          font-size:55%;
     
     
  }
}

.ourtxt{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 300%;
    font-family: NewYork;
    font-weight: 400px;
    margin-top:8%;
    color:black;
}

/* Slide gambar otomatis */
.slider{
	justify-content: center;
	position: relative;
	width: 80%;
	background: #F0EFEA; 
	margin-top: 3%;
	left:15%;
	right:40%;
}

.myslide{
	height: 450px;
	width:90%;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 15px;
	padding: 40px;
    padding-right:170px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #806554; 
}
.next{
	right: 0;
}
.dotsbox{
    position: absolute;
    left: 45%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #CABFB3;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

.active, .dot:hover{
	background-color: #CABFB3;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}



@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


.myslide img{
	transform: scale(1, 1);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 20s;
  	animation-name: zoomin;
  	animation-duration: 20s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}



}

@media screen and (max-width: 520px){
	
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}

/* Location */
.store{
    padding-top: 2%;
    padding-left: 9%;
    /* width:1400px; */
    display:block;
    position:relative;
    margin:2%;
    padding-bottom:1rem;
}

.country-name1 p{
    font-size: 250%;
    font-family: NewYork;
    /* padding-bottom:25px; */
}

.country-name2 p{
    font-size: 250%;
    font-family: NewYork;
   
    text-align: right;
    padding-right:10%;
    /* padding-left:1030px; */
    /* padding-bottom:25px; */
    
}

.line{

    display:block;
    position: relative;
    border-top: 1px solid #806554;
    box-sizing: border-box;
    width: 90%;
    height: 1px;
}



.img-address{
    align-items: center;
    text-align: left;
    margin-top: 2%;
    display:flex;
    position:relative;
}

.place{
    padding-right:10%;
  
    display: block;
    position:relative;
}

.place2{
    text-align: right;
    padding-right:10%;
}

.imgplace{
    padding-right: 58px;
    width: 40%;
    height:30%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.imgplace:hover{
  -webkit-transform: scale(1.20);
  transform: scale(1.20);
}

.imgplace2{

    width: 40%;
    height:30%;
    float:right;
    margin-right:9%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
   
}

.imgplace2:hover{
  -webkit-transform: scale(1.20);
  transform: scale(1.20);
}

.imgplace21{
    width: 40%;
    height:30%;
    float:right;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  
}

.imgplace21:hover{
  -webkit-transform: scale(1.20);
  transform: scale(1.20);
}

.placename{
    padding-bottom: 20px;
    font-family: "Gotham Pro";
    font-size: 170%;
    color: black;
}

.adrs{
    font-family: "Gotham Pro";
    font-size: 150%;
    color:#806554;
}

.adrs2{
    padding-top: 15px;
    font-family: "Gotham Pro";
    font-size: 150%;
    color:#806554;
}



